* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica,sa Arial, ns-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

.container {
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template: 1fr 4fr / 0.8fr 3fr 1fr;
}

.sidebar { 
    display: grid;
    position:relative;
    grid-area: 1 / 1 / 4 / 2;
    grid-template: 2fr repeat(20, 1fr) / 1fr 3fr;
    padding-top: 16px;
    gap: 16px;
    background-color: #1992d4;
    box-shadow: 1px 0px 1px 0px #c1c1c1;
}

.material-symbols-outlined {
    align-self: center;
    justify-self: center;
    font-variation-settings: 
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.sidebar>.material-symbols-outlined {
    color: white;
}

.sidebar-title {
    display:flex;
    align-items: center;
    color:white;
    font-weight: bold;
    font-size: 18px;
}

a:link {
    text-decoration: none;
}



main {
    grid-area: 2 / 2 / 2 / 4;
    display:grid;
    grid-template: 1fr 3fr 3fr / 2fr 1fr;
    background-color: #e2e8f0
}

.spacer {
    grid-area: 2 / 1 / 2 / 3;
}

.spacer2 {
    grid-area: 9 / 1 / 9 / 3;
}

header {
    grid-area: 1 / 2 / 1 / 4;
    display: grid;
    grid-template: 1fr 0.5fr 1fr / repeat(7, 1fr);
    background-color: white;
    box-shadow: 0px 1px 10px 0px #c1c1c1;
    position:relative;
    padding: 16px 40px;
    align-items: center;
}

nav {
    display: flex;
    grid-area: 1 / 1 / 1 / 5;
    gap: 8px;
    height: 25px;
}

.search-bar {
    width: 100%;
    border-style: none;
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: none;
}

.search-bar:focus {
    outline: 1px solid rgb(115, 115, 255);
}

header>.material-symbols-outlined {
    grid-area: 1 / 5 / 1 / 5;
    justify-self: end;
}

.profile-image {
    justify-self: center;
    grid-area: 1 / 6 / 1 / 6;
    width: 50px;
    height: 50px;
}

.profile-image-big {
    height: 100px;
    justify-self: center;
    grid-area: 2 / 1 / 4 / 1;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 2 / 4 / 4;
}

.welcome-subtext, .welcome-main {
    display:flex;
    margin: 0;
}

button {
    display: flex;
    margin: 4px;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: #1992d4;
    width: 80%;
    justify-self: center;
    border-radius: 16px;
    height: 40px;
    color: white;
    font-weight: bold;
}

.btn1 {
    grid-area: 3 / 5 / 3 / 5;
}

.btn2 {
    grid-area: 3 / 6 / 3 / 6;
}

.btn3 {
    grid-area: 3 / 7 / 3 / 7;
}

.main-content {
    margin: 4px 0px;
    margin-left: 16px;
    grid-area: 1 / 1 / 4 / 4;
    display: grid;
    grid-template: repeat(7, 1fr) / 2fr 1fr;
}

.main-projects {
    grid-area: 1 / 1 / 8 / 1;
    display:grid;
    gap: 8px;
    grid-template: 0.5fr 2fr 2fr 2fr 0.5fr / 1fr 1fr;
}

.card { 
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 2fr 0.5fr 0.5fr 0.5fr;
    border-left: 8px solid orange;
    border-radius: 16px;
    width: 90%;
    height: 90%;
    padding: 8px;
    background-color: white;
    box-shadow: 0px 1px 10px 0px #c1c1c1;
}

.card-title {
    font-weight: bold;
    margin: 0;
    grid-area: 1 / 1 / 1 / 5;
    align-self: flex-end;
}

.card-text {
    color:gray;
    margin: 0;
    grid-area: 2 / 1 / 4 / 5
}

#card-icon1 {
    grid-area: 4 / 2 / 4 / 2
}

#card-icon2 {
    grid-area: 4 / 3 / 4 / 3
}

#card-icon3 {
    grid-area: 4 / 4 / 4 / 4;
}

.main-announcements {
    grid-area: 1 / 2 / 5 / 2;
    margin: 0 8px;
    display: grid;
    grid-template: 0.5fr 1fr 1fr 1fr / 1fr 1fr;
}

.announcement-card {
    grid-area: 2 / 1 / 5 / 3;
    display: grid;
    grid-template: 0.5fr 1fr 0.1fr 0.5fr 1fr 0.1fr 0.5fr 1fr / 1fr;
    padding: 16px 32px;
    width: 85%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 1px 10px 0px #c1c1c1;
}

.announcement-title {
    font-weight: bold;
    margin: 0;
    align-self: flex-end;
    width: 90%;
}

.announcement-text {
    margin: 0;
    color: gray;
    width: 90%;
    text-overflow: ellipsis;
}

.announcement-spacer {
    outline: 1px solid lightgray;
    width: 90%;
    height: 0px;
}

.main-trending {
    grid-area: 5 / 2 / 8 / 8;
    margin: 0 8px;
    display: grid;
    grid-template: 0.5fr 1fr 1fr 1fr 1fr / 1fr;
}

.trending-card {
    grid-area: 2 / 1 / 5 / 1;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 1px 10px 0px #c1c1c1;
    width: 85%;
    display: grid;
    grid-template: repeat(4, 1fr) / 0.5fr 1fr;
    padding: 16px;
}

.trending-img {
    height: 50px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}

.trending-text {
    display: flex;
    flex-direction: column;
}

.trending-text>p{
    margin: 0;
}

.trending-text>p:nth-child(2) {
    color: gray;
}